<div class="wrapper">

    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>

        <div class="content">
            <button
                (click)="toggleFlightSearch = !toggleFlightSearch"
                class="btn btn-default btn-toggle">Toggle Flight Search</button>
            
            <button
                (click)="toggleFlightReactive = !toggleFlightReactive"
                class="btn btn-default btn-toggle">Toggle Flight Reactive</button>
            <!-- <h1>{{title}}</h1> -->
            
            <app-flight-search *ngIf="toggleFlightSearch"></app-flight-search>
            <app-flight-reactive *ngIf="toggleFlightReactive"></app-flight-reactive>
        </div>
    </div>

</div>
