<div class="wrapper">

    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>

        <div class="content">
            <button
                (click)="toggleFlightSearch = !toggleFlightSearch"
                class="btn btn-default">Toggle Flight Search</button>
            
            <!-- <h1>{{title}}</h1> -->
            
            <app-flight-search *ngIf="toggleFlightSearch"></app-flight-search>

        </div>
    </div>

</div>
